{% extends 'tity/layout.html' %}

{% block content %}
{%if message %}
    <p style="color: red;">{{ message }}</p>
{% endif %}
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <label for="username">Username/اسم المستخدم:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password /كلمة المرور:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Register/تسجيل</button>
</form>

<p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>

{% endblock %}